<!DOCTYPE html>
<html>

<head>
  <title>Dashboard | Snowflake Bot</title>
  <link rel="icon" type="image/jpg" href="../../images/snowflake.jpg">
  <link rel="stylesheet" type="text/css" href="../../styles/styles.css">
</head>

<body>
  <%- include('header') %>
  <div class="view-dashboard">
    <div class="dashboard-wrapper">
      <h2>Hello, <%= profile.username %>!</h2>
      <p>Snowflake is currently serving <%= servers.length %> of your server(s).</p>
      <p>&#9675; Choose a server to change settings &#9675;</p>
      <div class="server-wrapper">
        <% guilds.forEach(function(guild){ %>
        <div id="<%= guild.id %>" class="server">
          <% if(guild.iconURL){ %>
          <img src="<%= guild.iconURL %>" />
          <% } else { %>
          <img src="../../images/discord-default.png" />
          <% } %>
          <p class="server-name"><%= guild.name %></p>
          <% if(guild.memberCount){ %>
          <p class="server-name">(<%= guild.memberCount %> members)</p>
          <% } %>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="../scripts/snowflake.min.js"></script>
</body>

</html>